.rounded-icon {
    margin: 20px;
    border-radius: 50%; /* 丸い形状を適用 */
    width: 100px; /* アイコン画像の幅を調整 */
    height: 100px; /* アイコン画像の高さを調整 */
  }

.schoolhistory{
  font-size: 1.5em;
  font-weight: bold;
}

.lang{
  margin-top: -20px;
}

.aboutme ul{
    list-style-type: none;
    padding-left: 0;
}

.interest{
  margin-top: -20px;
}

.experience{
  margin-top: -20px;
}